@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&family=Ubuntu+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./boxShadow.css'); 
/* @font-face {
    font-family: 'Orbitron';
    src: url('../public/fonts/orbitron/Orbitron-VariableFont_wght.ttf'); 
    font-weight: normal; 
    font-style: normal; 
} */
* {
    margin: 0px;
}
.rotated {
    transform: rotate3d(0, 1, 0, 90deg);
    background-color: pink;
    
}
.rotate-y {
    transform: rotateY(180deg); 
}

/* 
*   Scrollbar
 */


/* Track */

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(
        180deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    border-radius: 3px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 3px;
}

.fontTitle {
    font-family: "Orbitron";
    filter: url('#titleShadow');
}
.fontQuote {
    font-family: "Ubuntu Mono";
    font-style: italic;
    font-size: 1em;
    opacity: .9;
}
.fontProperty {
    font-family: "Ubuntu Mono";
    font-size: 1em;
    opacity: .9;
}
