@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./boxShadow.css'); 
/* @font-face {
    font-family: 'Orbitron';
    src: url('../public/fonts/orbitron/Orbitron-VariableFont_wght.ttf'); 
    font-weight: normal; 
    font-style: normal; 
} */
* {
    margin: 0px;
}
.rotated {
    transform: rotate3d(0, 1, 0, 90deg);
    background-color: pink;
}
.rotate-y {
    transform: rotateY(180deg); 
}



.fontTitle {
    font-family: "Orbitron";
    filter: url('#titleShadow');
}
.fontQuote {
    font-family: "Ubuntu Mono";
    font-style: italic;
    font-size: 1em;
    opacity: .9;
}
.fontProperty {
    font-family: "Ubuntu Mono";
    font-size: 1em;
    opacity: .9;
}
